body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
  justify-content: end;
  align-items: end;
}

body * {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.frame {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

.link {
  -webkit-app-region: no-drag;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
